.home-page .content {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 50px;
    margin-top: 60px;

    & > * {
        --width: 90%;
        @media screen and (min-width: 1000px) {
            --width: calc(60% + 200px);
        }
        width: var(--width);
    }

    & > .quote {
        background-color: var(--button);
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
        padding: 0;
        padding-bottom: 20px;
        
        @media screen and (min-width: 650px) {
            padding: 0 calc((100% - var(--width)) * 0.5);
            flex-direction: row;
        }

        & img {
            @media screen and (min-width: 650px) {
                width: calc(280px + 8vw);
                margin-right: 5%;
            }

            margin-right: 10%;
            width: 100%;
        }

        & p {
            @media screen and (min-width: 650px) {
                width: 10px;
                flex-grow: 1;
                font-size: var(--s);
            }

            box-sizing: border-box;

            display: block;
            width: 100%;
            padding: 10px 20px;

            color: white;
            font-family: "BryndanWhite";
            font-size: var(--m);
        }
    }

    & .good-things {
        width: 100%;

        & > header {
            color: var(--dark-blue);
            font-size: var(--m);
            font-weight: bold;
            font-family: "BryndanWhite";
            margin: 20px;
            text-align: center;

            @media screen and (min-width: 650px) {
                margin: 30px 55% 30px 15%;
            }
        }

        & .good-thing {
            width: 100%;
            padding: 0 calc((100% - var(--width)) * 0.5);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            margin: 30px 0;

            @media screen and (min-width: 650px) {
                height: calc(100px + 20vw);
                flex-direction: row;
            }

            &.with-bg {
                background-color: var(--light-blue);
            }

            & img {
                height: 100%;

                @media screen and (min-width: 650px) {
                    order: 0;
                }

                order: 1;
            }

            & > div {
                padding: calc(10px + 7vw);
                color: var(--button-2);

                & header {
                    font-family: "ShuneetBook";
                    font-size: var(--m);
                }

                & p {
                    font-family: "Quicksand";
                    font-size: var(--s);
                }
            }

            @media screen and (min-width: 650px) {
                & > div:first-child {
                    padding-left: 0;
                }

                & > div:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    & .ad {
        //height: calc(10vw + 100px);
        background-color: var(--button);
        width: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 40px 20px;

        margin: 20px 0;

        & header {
            color: white;
            font-family: "BryndanWhite";
            font-size: var(--m);
            margin-bottom: 20px;
        }
    }

    & .mission {
        text-align: center;
        margin: 50px 0;

        & header {
            font-family: "BryndanWhite";
            font-size: var(--m);
            color: var(--logo);
        }

        & p {
            font-family: "Quicksand";
            font-size: var(--s);
            color: var(--logo2);
        }
    }

    & #elephants {
        width: 100%;
    }

    & .footer {
        display: flex;
        align-items: center;
        flex-direction: column;

        & .links {
            font-size: var(--s);
            font-family: "ShuneetDemi";
            color: var(--logo2);

            margin: 20px 0;

            & > * {
                margin: 0 15px;
            }
        }

        & .copyright {
            color: var(--logo2);
            margin: 30px 0;
        }
    }
}
