@import url("./About/About.css"), url("./Author/Author.css"), url("./MainSection/MainSection.css"), url("./Opinions/Opinions.css");

.home-page .content {
    display: flex;
    align-items: center;
    flex-direction: column;

    --width: 90vw;

    @media screen and (min-width: 800px) {
        --column-gap: 10%;
    }

    @media screen and (min-width: 1440px) {
        --width: 1300px;
    }

    --column-1: calc(var(--width) * 0.5);
    --column-2: calc(var(--width) * 0.5 - var(--column-gap));
    --column-gap: 30px;

    padding-top: 50px;
    margin-top: 60px;

    & > * {
        width: var(--width);
    }

    & > .quote {
        background-color: var(--button);
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin: 10px 0;
        padding: 0;
        padding-bottom: 20px;

        @media screen and (min-width: 650px) {
            padding: 0 calc((100% - var(--width)) * 0.5);
            flex-direction: row;
        }

        & img {
            object-fit: cover;

            @media screen and (min-width: 650px) {
                width: var(--column-1);
            }

            width: 100%;
        }

        & p {
            @media screen and (min-width: 650px) {
                margin-left: var(--column-gap);
                padding: 0;
                width: 10px;
                flex-grow: 1;
                font-size: var(--m);
            }

            box-sizing: border-box;

            display: block;
            width: 100%;
            padding: 10px 20px;

            color: white;
            font-family: "BryndanWhite";
            font-size: var(--m);
        }
    }

    & .good-things {
        width: 100%;

        & > header {
            color: var(--dark-blue);
            font-size: var(--l);
            font-weight: bold;
            font-family: "BryndanWhite";
            margin: 20px;
            text-align: center;
            box-sizing: border-box;

            @media screen and (min-width: 650px) {
                margin: 30px calc((100% - var(--width)) / 2);
                width: var(--column-1);
                padding: var(--m) calc(max(min(100vw, 1300px), 1220px) - 1200px);
            }
        }

        & .good-thing {
            width: 100%;
            padding: 0 calc((100% - var(--width)) * 0.5);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            margin: 30px 0;

            @media screen and (min-width: 650px) {
                max-height: 500px;
                flex-direction: row;
            }

            &.with-bg {
                background-color: var(--light-blue);
                justify-content: flex-end;

                & img {
                    @media screen and (min-width: 650px) {
                        width: calc(var(--column-1));
                    }
                }

                & > div{
                    margin-left: auto;
                }
            }
            
            & img {
                @media screen and (min-width: 650px) {
                    width: calc(var(--column-1) + 20px);
                    order: 0;
                }
                
                order: 1;
            }
            
            & > div {
                margin: auto;
                margin-left: var(--xl);
                padding: 20px;
                padding-right: 60px;

                @media screen and (min-width: 650px) {
                    padding: calc(min(calc(10px + 7vw), 50px));
                }

                color: var(--body);

                & header {
                    font-family: "ShuneetBook";
                    font-size: var(--l);

                    color: var(--button-2);
                }

                & p {
                    font-family: "Quicksand";
                    font-size: var(--s);

                    @media screen and (min-width: 650px) {
                        max-width: 400px;
                        width: calc(235px + 5vw);
                    }
                }
            }

            @media screen and (min-width: 650px) {
                & > div:first-child {
                    padding-left: 0;
                }

                & > div:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    & .ad {
        //height: calc(10vw + 100px);
        background-color: var(--button);
        width: 100%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 40px 20px;

        margin: 20px 0;

        & header {
            color: white;
            font-family: "BryndanWhite";
            font-size: var(--m);
            margin-bottom: 20px;
        }
    }

    & .mission {
        text-align: center;
        margin: 50px 0;

        & header {
            font-family: "BryndanWhite";
            font-size: var(--m);
            color: var(--logo);
        }

        & p {
            font-family: "Quicksand";
            font-size: var(--s);
            color: var(--logo2);
        }
    }

    & #elephants {
        width: 100%;
    }
}
