.home-page .content .main-section {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 650px) {
        flex-direction: row;
    }
    align-items: center;
    padding: 0;
    justify-content: space-between;

    & > .info {
        text-align: left;
        margin: 0;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: calc(12px + 1vw);
        font-family: "ShuneetBook";

        & ul {
            padding: 0;
            list-style: none;
        }

        & header {
            font-family: "BryndanWhite";
            font-size: calc(1vw + 25px);
            font-weight: normal;
            color: var(--coral);
        }

        & .promotion {
            color: #ecc41e;
        }

        & .separator {
            background-color: var(--blue);
        }

        & p {
            color: var(--dark-blue);
            font-size: calc(0.5vw + 10px);
            font-family: "Quicksand";
        }

        & li {
            &:nth-child(1) {
                color: var(--green);
            }

            &:nth-child(2) {
                color: var(--purple);
            }

            &:nth-child(3) {
                color: var(--orange);
            }

            &:nth-child(4) {
                color: var(--logo);
            }

            &::before {
                content: "";
                width: 23px;
                height: 20px;
                margin-right: 10px;
                display: inline-block;

                background-image: url(./heart.svg);
            }
        }
    }

    & .slide-show {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        flex-basis: 100%;

        @media screen and (min-width: 650px) {
            flex-basis: calc(250px + 6vw);
        }

        & .main-img {
            box-sizing: border-box;
            width: 100%;
            aspect-ratio: 1;
            height: auto;
            border: 7px solid #f7ebeb;
            border-radius: 20px;
            padding: 2vw;
            object-fit: contain;
            background-color: var(--blue);
        }

        & .images-nav {
            margin: 20px 0;
            display: flex;
            justify-content: space-between;
            width: 100%;

            @media screen and (min-width: 650px) {
                justify-content: space-around;
            }

            & img {
                box-sizing: border-box;
                background-color: var(--blue);
                border-radius: 10px;
                border: 3px solid var(--dark-blue);

                width: calc(20% - 5px);
                max-width: 80px;
                aspect-ratio: 1;

            }
        }
    }
}
