.home-page .content .main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: var(--m);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 650px) {
  .home-page .content .main-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home-page .content .main-section > .info {
  width: var(--column-2);
  text-align: center;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(12px + 1vw);
  font-family: "ShuneetBook";
  padding-right: calc(var(--column-gap) * 0.5);
}

@media screen and (min-width: 650px) {
  .home-page .content .main-section > .info {
    margin-left: var(--column-gap);
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.home-page .content .main-section > .info ul {
  padding: 0;
  list-style: none;
}

.home-page .content .main-section > .info ul li {
  font-size: var(--l);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .content .main-section > .info ul li:nth-child(1) {
  color: var(--green);
}

.home-page .content .main-section > .info ul li:nth-child(2) {
  color: var(--purple);
}

.home-page .content .main-section > .info ul li:nth-child(3) {
  color: var(--orange);
}

.home-page .content .main-section > .info ul li:nth-child(4) {
  color: var(--logo);
}

.home-page .content .main-section > .info ul li::before {
  content: "";
  height: 0.5em;
  aspect-ratio: 23/20;
  margin-right: 10px;
  display: inline-block;
  background-image: url(./heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page .content .main-section > .info header {
  font-family: "BryndanWhite";
  font-size: calc(1vw + 25px);
  font-weight: normal;
  color: var(--coral);
  width: 100%;
}

@media screen and (min-width: 650px) {
  .home-page .content .main-section > .info header {
    max-width: 300px;
  }
}

.home-page .content .main-section > .info .promotion {
  color: #ecc41e;
  font-size: var(--s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .content .main-section > .info .promotion .button {
  font-family: "ShuneetDemi";
  font-size: var(--m);
  border-radius: 50px;
  padding: 5px var(--xl);
  margin-bottom: 10px;
}

.home-page .content .main-section > .info .separator {
  background-color: var(--button-2);
  margin: var(--m) 0;
}

.home-page .content .main-section > .info p {
  color: var(--dark-blue);
  font-size: calc(0.5vw + 10px);
  font-family: "Quicksand";
}

.home-page .content .main-section .slide-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

@media screen and (min-width: 650px) {
  .home-page .content .main-section .slide-show {
    -ms-flex-preferred-size: var(--column-1);
        flex-basis: var(--column-1);
  }
}

.home-page .content .main-section .slide-show .main-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  border: 7px solid #f7ebeb;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: var(--blue);
}

.home-page .content .main-section .slide-show .images-nav {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .home-page .content .main-section .slide-show .images-nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.home-page .content .main-section .slide-show .images-nav img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  width: calc(20% - 5px);
  max-width: 80px;
  aspect-ratio: 1;
}

.home-page .content .main-section .slide-show .images-nav img.selected-img {
  border: 3px solid var(--button);
}
