@font-face {
    font-family: ShuneetBook;
    src: url(./Shuneet3\ Book.ttf);
}

@font-face {
    font-family: ShuneetHeavy;
    src: url(./Shuneet3\ Heavy.ttf);
}

@font-face {
    font-family: ShuneetDemi;
    src: url(./Shuneet3\ Demi.ttf);
}

@font-face {
    font-family: BryndanWhite;
    src: url(./Bryndan_Write.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(./Quicksand.ttf);
}



#root{
    --xxl: calc(3vw + 40px);
    --xl: calc(2vw + 30px);
    --l: calc(1.3vw + 17px);
    --m: calc(0.5vw + 17px);
    --s: calc(0.3vw + 13px);
    --xs: calc(0.1vw + 10px);
    --xxs: 10px;
}

@media screen and (min-width: 1440px) {
    #root{
        --xxl: calc(3 * 14.4px + 40px);
        --xl: calc(2 * 14.4px + 30px);
        --l: calc(1.3 * 14.4px + 17px);
        --m: calc(0.5 * 14.4px + 17px);
        --s: calc(0.4 * 14.4px + 13px);
        --xs: calc(0.1 * 14.4px + 10px);
    }
}