.home-page .content .about {
    margin: 20px 0;

    &>header {
        font-size: var(--l);
        color: var(--pink);
        font-family: "BryndanWhite";
        width: 100%;
        
        @media screen and (min-width: 650px) {
            text-align: center;
            margin: 20px 0;
        }
    }
    
    & > div {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        @media screen and (min-width: 650px) {
            margin-top: 40px;
            flex-direction: row;
        }

        & .info {
            flex: 1;
            color: var(--body);
            padding: 0px 5vw 0 0;
            padding-right: 5vw;

            & header {
                font-family: "ShuneetBook";
                font-size: var(--m);
                color: var(--button-2);
                width: 60%;

                @media screen and (min-width: 650px) {
                    width: 100%;
                }
            }

            & p {
                font-family: "Quicksand";
                font-size: var(--s);
            }
        }

        & .image-and-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 2;

            & img{
                display: block;
                width: 100%;
            }

            & .button{
                margin-top: 10px;
                padding: 10px 30px;
                border-radius: 25px;
            }

            & .promotion {
                color: var(--yellow);
                font-family: "ShuneetDemi";
                font-size: var(--s);
            }
        }
    }
}