.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button.primary, .button.secondary {
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: var(--xs);
  font-family: "ShuneetDemi";
}

.button.primary {
  background-color: var(--gold);
}

.button.secondary {
  background-color: var(--button);
  padding: 15px 25px;
}

.button.rounded {
  border-radius: 25px;
}
