.hoverable
{
    opacity: 0.85;
    transition: opacity 0.5s;
}

.hoverable:hover
{
    opacity: 1;
}


.separator
{
    height: 1px;
    margin: 10px 0;
    width: 100%;
    background-color: black;
}

