.home-page .content .about-author {
  width: 100%;
}

.home-page .content .about-author .author-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px calc((100% - var(--width)) * 0.5);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 650px) {
  .home-page .content .about-author .author-card {
    display: block;
  }
}

.home-page .content .about-author .author-card header {
  font-size: var(--l);
  font-family: "BryndanWhite";
  color: var(--pink);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 650px) {
  .home-page .content .about-author .author-card header {
    text-align: center;
    margin-bottom: 50px;
  }
}

.home-page .content .about-author .author-card p {
  color: var(--body);
  font-family: "Quicksand";
  font-size: var(--s);
  display: inline-block;
}

@media screen and (min-width: 650px) {
  .home-page .content .about-author .author-card p {
    width: 70%;
  }
}

.home-page .content .about-author .author-card img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 250px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 3px solid var(--button);
  background-color: var(--button);
  border-radius: 50%;
  margin: 0 20px;
}

@media screen and (min-width: 650px) {
  .home-page .content .about-author .author-card img {
    width: calc(50px + 10vw);
    height: calc(50px + 10vw);
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
