.home-page .content .opinions {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    & header{
        color: var(--button);
        font-family: "BryndanWhite";
        font-size: var(--l);
        text-align: center;
        margin: 30px 0;
    }

    & .quotes {
        width: 100%;
        overflow-y: hidden;
        display: flex;
        justify-content: center;

        & .quote-card {
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px;
            color: white;
            min-width: 150px;
            max-width: 250px;
            margin: 10px;

            &::before {
                content: "";
                background-image: url(./quote.svg);
                width: calc(28px * 2);
                height: 43px;
                display: block;
            }

            & > span {
                width: 30px;
                margin: 20px 0;
                background-color: white;
                height: 2px;
            }

            & .quote {
                display: flex;
                align-items: center;
                min-height: 100px;
            }

            & .author {
                text-transform: uppercase;
            }

            & .stars {
                & i {
                    margin: 5px;
                }
            }
        }
    }

    &>.button
    {
        min-width: 25vw;
        margin: 15px;
        font-size: var(--s);
    }
}
